@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/pascal\/Projects\/html\/pivprint\/sass\/print\.scss}line{font-family:\000031}}
.progress_report_page > h1 {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/pascal\/Projects\/html\/pivprint\/sass\/print\.scss}line{font-family:\000035}}
h2 {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/pascal\/Projects\/html\/pivprint\/sass\/print\.scss}line{font-family:\000039}}
#main .subnav {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/pascal\/Projects\/html\/pivprint\/sass\/print\.scss}line{font-family:\0000313}}
#main .subnav ~ .content_section:not(#report) {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/pascal\/Projects\/html\/pivprint\/sass\/print\.scss}line{font-family:\0000317}}
#header .navigation_area {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/pascal\/Projects\/html\/pivprint\/sass\/print\.scss}line{font-family:\0000321}}
#footer {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/pascal\/Projects\/html\/pivprint\/sass\/print\.scss}line{font-family:\0000325}}
#main .push {
  display: none;
}
